html,
body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #100f0fc9;
	text-align: center;
	font-family: "Montserrat";
	color: white;
}

footer {
	background-color: #100f0fc9;
	margin-top: 20px;
	font-family: "Montserrat";
	font-size: 20px;
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav {
	display: flex;
	justify-content: space-around;
}

a {
	text-decoration: none;
	color: rgb(243, 233, 241);
}

main {
	padding: 60px;
}

h1 {
	margin: 0;
}

h2 {
	font-family: "Satisfy";
	font-size: 40px;
}

article {
	list-style-type: none;
	border-style: hidden;
	border-radius: 10px;
	box-shadow: 1px 1px 30px #c3bec359;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	margin-bottom: 20px;
	line-height: 0;
	font-family: "Montserrat";
}

img {
	width: 380px;
	align-items: center;
}

p {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

button {
	background-color: black;
	color: white;
	width: 55%;
	border: 0px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: "Montserrat";
	padding: 8px;
}

button:hover {
	transform: scale(1.1);
	transition: transform 600ms ease-in-out;
}

button,
img {
	margin-top: 20px;
}

.price {
	margin-top: 20px;
}

.mySelect {
	margin-bottom: 20px;
}
